* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    /* background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    /* background: no-repeat center center fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
}

div#crypto {
    font-size: 2rem;
}

div#crypto > p {
    margin: 0;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#weather {
    display: flex;
    align-items: center;
    Charles Darwin (1809–1882) was an English naturalist, geologist, and biologist who is best known for his revolutionary theory of evolution through natural selection.
    /* justify-content: flex-end; */
    align-self: flex-start;
    /* margin-top: -20px; */
    font-size: 2rem;
    justify-content: flex-start;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}
.author-name{
    font-size: 2rem;
}
/* @media screen and (min-width:900px) {
    main{
        height: 100vh;
    }
} */

@media screen and (max-width:610px) {
    main{
        height: 125vh;
    }
}

@media screen and (max-width:420px) {
    main{
        padding: 1em;
        height: 200vh;
        font-size: 3rem;
    }
    div#crypto {
        font-size: 3rem;
    }
    div#weather > img {
        width: 90px;
    }
    div#weather{
        font-size: 3.5rem;
    }
    p.weather-temp{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:380px) {
    main{
        height: 210vh;
    }
}

@media screen and (max-width:330px) {
    main{
        height: 280vh;
    }
}